<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/users/login">login</a></li>
                <li><a href="/users/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="productos">
            <article>
                <img src="/images/img-phone-01.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est qui, aliquid dolore ipsam laboriosam et.
                </p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-02.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est qui, aliquid dolore ipsam laboriosam et.
                </p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-03.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est qui, aliquid dolore ipsam laboriosam et.
                </p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-01.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est qui, aliquid dolore ipsam laboriosam et.
                </p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-02.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est qui, aliquid dolore ipsam laboriosam et.
                </p>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/img-phone-03.jpg" alt="">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est qui, aliquid dolore ipsam laboriosam et.
                </p>
                <a href="">ver más</a>
            </article>
        </section>
        <aside>
            <h3>Tutoriales</h3>
            <section class="tuto">
                <article>
                    <img src="/images/aside-01.jpg" alt="">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-02.jpg" alt="">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-03.jpg" alt="">
                    <p>Titulo del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-04.jpg" alt="">
                    <p>Titulo del tutorial de reparación</p>
                </article>
            </section>
            <h3 class="title-ads">Publicidad</h3>
            <section class="ads">
                <img src="/images/ad-01.jpg" alt="">
                <img src="/images/ad-02.jpg" alt="">
            </section>
        </aside>
    </main>
</body>

</html>